@import 'mixins';

footer {
  background-color: #2C2C2C;

  .copyright-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

    .copyright {
      font-family: 'Poppins';
      font-style: normal;
      font-size: 11px;
      color: rgba(255,255,255,0.3);
      text-decoration: none;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
  }

  .logo {
    align-self: center;
  }

  .row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 64px;

    @include for-phone-only {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
    @include for-tablet-portrait-up {
      flex-direction: column;
      align-items: center;
      gap: 32px;
    }
    @include for-tablet-landscape-up {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 16px;
      padding-right: 16px;
    }
    @include for-desktop-up {
      padding-left: 16px;
      padding-right: 16px;
    }
    @include for-big-desktop-up {
      padding-left: 16px;
      padding-right: 16px;
    }

    .col {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 55;

      @include for-phone-only {
        align-items: center;
      }
      @include for-tablet-portrait-up {
        align-items: center;
      }
      @include for-tablet-landscape-up {
        align-items: flex-start;
      }
      @include for-desktop-up {
        align-items: flex-start;
      }
      @include for-big-desktop-up {
        align-items: flex-start;
      }

      &:nth-child(3) {
        @include for-phone-only {
          display: none;
        }
        @include for-tablet-portrait-up {
          display: none;
        }
        @include for-tablet-landscape-up {
          display: flex;
        }
        @include for-desktop-up {
          display: flex;
        }
        @include for-big-desktop-up {
          display: flex;
        }
      }

      .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 4px;
      }

      a {
        font-family: 'Poppins';
        font-style: normal;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 4px;
        margin-bottom: 4px;

        @include for-phone-only {
          font-weight: 275;
        }
        @include for-tablet-portrait-up {
          font-weight: 100;
        }

        &:hover {
          color: #FDDCA0;
        }
      }

      .icon {
        margin-top: 8px;
        margin-bottom: 32px;
      }
    }

    .map {
      height: 100%;
      min-height: 200px;
      width: 400px;
      background-image: url('../assets/img/world-map.png');
      background-position: right center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0px;
      right: 32px;
      z-index: 50;

      @include for-phone-only {
        width: 100%;
        height: 300px;
        background-position: center;
      }
      @include for-tablet-portrait-up {
        width: 100%;
        height: 300px;
        background-position: center;
      }
      @include for-tablet-landscape-up {
        width: 400px;
      }
      @include for-desktop-up {
        width: 400px;
      }
      @include for-big-desktop-up {
        width: 400px;
      }
    }
  }

  .cta {
    border: none;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    background: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 32px;

    @include for-phone-only {
      font-weight: 275;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    @include for-tablet-portrait-up {
      font-weight: 100;
      border: 0.5px solid rgba(255, 255, 255, 0.18);
    }

    &:hover {
      @include gold;
      color: #161414;
      font-weight: 275;
    }
  }
}